main {
    height: auto;
}

/* Main schedule */
div.dashboard-viewing-schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
}

div.dashboard-viewing-schedule-utilities {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
}

div.dashboard-viewing-schedule-utilities button {
    font-size: 0.85rem;
}

div.dashboard-viewing-schedule h2 {
    width: 100%;
    font-size: 1.4rem;
}

div#dashboard-viewing-schedule-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75%;
}

div#dashboard-viewing-schedule-container > div {
    width: 100%;
}

div.dashboard-viewing-schedule-day {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    border: 1px solid rgb(220, 220, 220);
    border-top: 0;
    background: linear-gradient(45deg, rgb(180, 0, 0), rgb(220, 0, 0));
    color: white;
}

div.dashboard-viewing-schedule-day > span {
    display: block;
}

div.dashboard-viewing-schedule-header, div.dashboard-viewing-schedule-data-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

div.dashboard-viewing-schedule-header > span {
    background-color: rgb(235, 235, 235);
    font-weight: 500;
    padding: 1rem !important;
}

div.dashboard-viewing-schedule-header > span, 
div.dashboard-viewing-schedule-data-item > span,
div.dashboard-viewing-schedule-data-item > div {
    padding: 1.5rem 1rem;
    border: 1px solid rgb(220, 220, 220);
    border-top: 0;
    text-align: center;
}

div.dashboard-viewing-schedule-data-item > div {
    flex-direction: column;
    row-gap: 0.2rem;
}

div.dashboard-viewing-schedule-data-item > div > span:last-child {
    color: rgb(100, 100, 100);
}

div.dashboard-viewing-schedule-header > span, 
div.dashboard-viewing-schedule-data-item > span {
    border-right: 0;
}

div.dashboard-viewing-schedule-data-item-inactive > div {
    background-color: rgb(245, 245, 245);
}

/* Mobile View */
@media screen and (max-width: 650px) {
    div#dashboard-viewing-schedule-container {
        width: 100%;
    }

    div.dashboard-viewing-schedule-utilities {
        flex-direction: column;
        row-gap: 1rem;
        align-items: start;
    }
}